---
title: Epoch
---

#rotator
  %header
    %h1 
      =image_tag "epoch-logo.svg", :id => "logo", :alt => "EPOCH"
    %ul#icons.inline-list
      %li
        = link_to 'http://www.facebook.com/epochlife' do 
          = image_tag 'icons/facebook.svg'
      %li
        = link_to 'http://www.twitter.com/epochlife' do 
          = image_tag 'icons/twitter.svg'
      %li
        = link_to 'http://www.instagram.com/epochlife' do 
          = image_tag 'icons/instagram.svg'
  #bottom
    %a#arrow-down
      =image_tag "arrow-down.svg"
  #big-pic
    =image_tag "epoch-grunge.png", :id => "pic"

.row
  #feed.four.columns
    <a name="feed"></a>
    %h2 The Feed
    %h2.subtitle.space Follow <a href="http://www.twitter.com/epochlife">@epochlife</a>
    <a class="twitter-timeline" href="https://twitter.com/epochlife" height="380" width="100%" data-widget-id="355497551455219712"  data-chrome="nofooter transparent noborders noheader">Tweets by @epochlife</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .four.columns
    %h2 Instagram
    %h2.subtitle.space Snap Snap
    <!-- www.instagme.com -->
    <iframe src="http://www.instagme.com/in/?u=ZXBvY2hsaWZlfHNsfDI4OHwyfDN8fHllc3w1fHVuZGVmaW5lZA==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; max-width: 303px; width:100%; height:303px;  max-height: 303px; display: block; margin: 0 auto;" ></iframe>
    %p <a href="http://instagram.com/epochlife">instagram.com/epochlife</a>
  .four.columns
    %h2 About
    %h2.subtitle The Basics About Epoch
    %hr
    .row
      .six.columns.rightborder
        %h3 When
        =image_tag "7pm.svg", :id => "time", :alt => "7pm"
        %p most Wed. nights
      .six.columns
        %h3 Where
        %p Youth Hall<br> <a href="http://www.kingwoodchurch.com">Kingwood Church</a><br> Alabaster, AL<br>(<a href="https://maps.google.com/maps?q=kingwood+church&hl=en&hq=kingwood+church&hnear=Alabaster,+AL&cid=828658894679933718&t=h&z=14&iwloc=A">Google Maps</a>)
    %hr
    .row 
      .twelve.columns
      %h3 Who is it for
      %p Epoch is designed for 6th - College
    .row 
      .twelve.columns
      %hr
      %h3 What Does Epoch Mean
      %p An Epoch is the beginning of a remarkable<br> time in history...
%footer
  .row
    %h2 Contact
    %h2.subtitle Any Questions?
    %p <a href="mailto:kingwoodepochlife@gmail.com?subject=Epoch%20Website%20Question">kingwoodepochlife@gmail.com</a>
    
